/* force full height on public template */
#body-public .full-height {
	height: 100%;
}

.ie #body-public .full-height {
	display: block;
}

#mmframe {
	padding-top: inherit;
}

.icon-mindmap
{
    background-image: url("../img/mindmap.svg") !important;
}